.word {
  font-size: 30px;
}

.translate {
  font-size: 20px;
}

.context {
  font-size: 14px;
}

.answer-area {
  min-height: 100px;
}

.menu{
  width: 100%;
  text-align: center;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.menu ul{
  padding: 0;
  list-style-type: none;
}

.menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.menu ul li:last-child{
  margin-right: 0px;
}
